<%- include('../../partials/header') %> 
<%- include('../../partials/navbarhome') %>

<body>
    <div class="container">
        <hr>
<!-- looking from every item article from var articles that is a list
from our index.js {articles: articles} -->

<% result.articles.rows.forEach(article => { %>   
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-primary">Ler</a>
            </div>
        </div>
        <br>
<%  }) %>  

            <div class="row">
                <div class="col col-12">
                <% if(result.page > 2) {%> 
                    <a style="float: left;" href="/articles/page/<% result.page - 1 %>">Prev >>></a>
                
                <% } else if (result.page == 2) {%> 
                    <a style="float: left;" href="/">Prev >>></a>
                <% } %> 

                <% if(result.next) {%>    
                    <a style="float: right;" href="/articles/page/<% result.page + 1 %>">Next >>></a>
                <% } %> 
                </div>
            </div>
        <hr>
    </div>
</body>


<%- include('../../partials/footer') %>