<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-secondary">Nova Categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITULO</th>
                <th>SLUG</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title%></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-primary">Editar</button>

                        <form method="POST" action="/categories/delete" style="display:inline">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </th>
                </tr>  
           <%  }) %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer') %>